
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div> 
        <h1>I am from a Home Controller  About Us View</h1>
    </div>
   
</body>
</html>
