<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_Layer.Properties.Settings.demo_1ConnectionString"
            connectionString="Data Source=DEL1-LHP-N82101\MSSQLSERVER01;Initial Catalog=demo_1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>