
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hgroup>
    <h1>Error Occured </h1>
    <h1 class="alert alert-danger">An unknown error occurred while processing your request.</h1>
</hgroup> 